.offers-plus-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.offers-plus-symbol {
    position: relative;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 240ms ease;
}

.offers-plus-symbol::before,
.offers-plus-symbol::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: currentColor;
    transform: translate(-50%, -50%);
    border-radius: 9999px;
}

.offers-plus-symbol::before {
    width: 100%;
    height: 2px;
}

.offers-plus-symbol::after {
    width: 2px;
    height: 100%;
}

.offers-plus-button:hover .offers-plus-symbol,
.offers-plus-button:focus-visible .offers-plus-symbol {
    transform: rotate(1080deg);
}
